<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Forms", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><%= link "For (no variable)", to: Routes.live_path(@conn, FormsWeb.ForLiveNoVariable) %></li>
            <li><%= link "For (functions)", to: Routes.live_path(@conn, FormsWeb.ForLiveFunctions) %></li>
            <li><%= link "For (stateful components)", to: Routes.live_path(@conn, FormsWeb.ForLiveStatefulComponents) %></li>
            <li><%= link "For (stateful components with variable)", to: Routes.live_path(@conn, FormsWeb.ForLiveStatefulComponentsWithVariable) %></li>
            <li><%= link "For (stateless components)", to: Routes.live_path(@conn, FormsWeb.ForLiveStatelessComponents) %></li>
            <li><%= link "For (variable)", to: Routes.live_path(@conn, FormsWeb.ForLiveVariable) %></li>
            <li><%= link "Function components", to: Routes.live_path(@conn, FormsWeb.FunctionComponents) %></li>
            <li><%= link "Function components (assigns)", to: Routes.live_path(@conn, FormsWeb.FunctionComponentsAssigns) %></li>
            <li><%= link "Function components (variables)", to: Routes.live_path(@conn, FormsWeb.FunctionComponentsVariables) %></li>
            <li><%= link "Live", to: Routes.live_path(@conn, FormsWeb.PageLive) %></li>
            <li><%= link "No nested", to: Routes.page_path(@conn, :no_nested) %></li>
            <li><%= link "Page", to: Routes.page_path(@conn, :index) %></li>
            <li><%= link "Render no variable", to: Routes.live_path(@conn, FormsWeb.RenderNoVariable) %></li>
            <li><%= link "Variable in render", to: Routes.live_path(@conn, FormsWeb.VariableInRender) %></li>
            <li x-data><a href="#" @click="window.resetConnection(3000)">Reset Connection</a></li>
          </ul>
        </nav>
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
